In [21]:
thistuple = ("apple", "banana",)
print(len(thistuple))

2

In [22]:
k = ("apple", "banana", "cherry")
print(k[1])

banana

In [23]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [24]:
x = ("apple", "kiwi", "melon")
y = list(x)
y[1] = "banana"
x = tuple(y)
print(x)

('apple', 'banana', 'melon')

In [25]:
r = ("apple", "kiwi", "orange")
y = list(r)
y.append("melon")
r = tuple(y)
print(r)

('apple', 'kiwi', 'orange', 'melon')

In [26]:
t = ("apple", "melon", "cherry")
y = ("orange",)
t += y
print(t)

('apple', 'melon', 'cherry', 'orange')

In [27]:
t = ("apple", "melon", "cherry")
y = list(t)
y.remove("apple")
t = tuple(y)
print(t)

('melon', 'cherry')

In [28]:
fruits = ("apple", "melon", "cherry")
(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

apple
melon
cherry

In [29]:
fruits = ("apple", "banana", "cherry")
(green, yellow, *red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
['cherry']

In [30]:
h = ("apple", "banana", "orange")
for i in h:
    print(i)

apple
banana
orange

In [31]:
h = ("apple", "banana", "cherry")
for i in range(len(h)):
    print(h[i])

apple
banana
cherry

In [32]:
animals = ("cat", "dog", "cheep")
k = animals * 2
print(k)

('cat', 'dog', 'cheep', 'cat', 'dog', 'cheep')

In [33]:
u = {"apple", "banana", "cherry"}
print(u)

{'apple', 'cherry', 'banana'}

In [34]:
u = {"apple", "banana", "cherry", True, 1, 2}
print(u)

{True, 2, 'banana', 'apple', 'cherry'}

In [35]:
f = {"apple", "banana", "orange", False, True, 0}
print(f)

{False, True, 'orange', 'apple', 'banana'}

In [36]:
set1 = {"apple", "banana", "orange"}
set2 = {1, 5 ,12, 64, 32}
set3 = {True, False, False}

In [37]:
g = {"apple", "cherry", "orange"}
for i in g:
    print(i)

orange
apple
cherry

In [38]:
thisset = {"cat", "lama", "elephant", "dog"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

{'cat', 'elephant', 'pineapple', 'papaya', 'mango', 'dog', 'lama'}

In [39]:
thisset = {"apple", "banana", "melon"}
mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

{'melon', 'kiwi', 'orange', 'apple', 'banana'}

In [40]:
thisset = {"apple", "banana", "orange"}
thisset.remove("banana")
print(thisset)

{'orange', 'apple'}

In [41]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'apple', 'cherry'}

In [42]:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

apple
{'cherry', 'banana'}

In [43]:
thisset = {"apple", "banana", "melon"}
for i in thisset:
    print(i)

apple
melon
banana

In [44]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'c', 'a'}

In [45]:
set1 = {"a", "c", "b"}
set2 = {1, 2, 3}
set3 = set1 | set2
print(set3)

{1, 2, 3, 'b', 'c', 'a'}

In [46]:
x = {"g", "d", "l"}
y = (1, 2, 3)
z = x.union(y)
print(z)

{1, 2, 3, 'g', 'd', 'l'}

In [47]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'c', 'a'}

In [48]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [49]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

In [50]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

In [51]:
set1 = {"apple", "banana", "melon"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.difference(set2)
print(set3)

{'melon', 'banana'}

In [52]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'banana', 'cherry'}

In [53]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'banana', 'microsoft', 'google', 'cherry'}

In [54]:
set1 = {"apple", "banana", "cherry"}
set2 = {"orange", "melon", "google"}
set3 = set1 ^ set2
print(set3)

{'melon', 'google', 'cherry', 'orange', 'apple', 'banana'}